*{
  background-color: #0a192f;
  color:#8892b0;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.rootclass{
padding:0 100px;
}
.list-group-item {
  border: none !important;
}
.secmain{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    /* min-height: 100vh; */
    height: 92vh;
    padding: 0px;
}

.nameis{
  margin: 0px 0px 30px 4px;
  color: #64ffda;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  font-size: clamp(14px,5vw,16px);
  font-weight: 400;
}

.bigheading{
  margin: 0px;
  font-size: 10vh;
  color:#ccd6f6;
}
.bigheading1{
  margin-top: 5px;
  color: #8892b0;
  line-height: 0.9;
}

.pline{
  margin: 20px 0px 0px;
  max-width: 580px;
  font-weight: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
color:#8892b0;
font-size: 19px;
}
.plineparent{
margin:22px 0;

}

.buttongithub{
 font-family:  "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.textBox{
  line-height: 1.3;
}
.AboutMain{
  font-size: 17px;
}