.workedname{
    color:#64ffda;
    padding:10px
}

.workedname:hover{
    opacity: 0.8;
    cursor: pointer;
    border-left: 3px solid #8892b0;
    border-radius: 5px;
}

.listclass>li>i{
color:#64ffda;
margin-right:5px;
}

.headdetails >h3{
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
}

.range{
    margin-bottom: 20px;
    color: #a8b2d1;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    font-size: 13px;
}

.exp1{
    
}