.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 68px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.navclass{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.logo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.navlist{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.navlistchild{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navlistchild>li{
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: 17px;
}

.navlistchild>li>a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    padding: 17px;

}